*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    
}

body {
    margin: 0; 
    padding: 0;
    font-family: "Comfortaa", cursive;
}

/* navigation style starts here */ 

header {
    text-align: center;
    position: fixed; 
    width: 100%; 
    height: 70px;
    background-color: #fff;
    z-index: 999; 
    top: 0; 
}

.nav-toggle {
    display: none; 
}

.nav-toggle-label {
    position: absolute;
    top: 0; 
    left: 0; 
    margin-left: 1em;
    height: 100%;
    display: flex; 
    align-items: center;
}

.nav-toggle-label span, 
.nav-toggle-label span::before, 
.nav-toggle-label span:after {
    display: block;
    background-color: transparent; 
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before, 
.nav-toggle-label span:after {
    content: ''; 
    position: absolute; 
}

.nav-toggle-label span::before {
    bottom: 7px; 
}

.nav-toggle-label span:after {
    top: 7px;
}

nav {
    position: absolute; 
    text-align: left; 
    top: 100%; 
    left: 0; 
    background-color: #fff;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0; 
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em; 
}

nav a {
    color: #039be5; 
    text-decoration: none!important;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    
}

nav a:hover,
.active nav a:active {
    color: #2f3e46; 
}

.nav-toggle:checked~nav {
    transform: scale(1,1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media only screen and (min-width: 800px) {

    .nav-toggle-label {
        display: none; 
    }

    header {
        display: grid; 
        grid-template-columns: 1fr auto auto minmax(600px, 5fr) 1fr;
        align-items: center;
    }

    .logo {
        grid-column: 2 / span 1;
        padding: 5px;
        
    }

    .logo-title {
        grid-column: 3 / span 1; 
        color: #2f3e46;
        font-family: "Montserrat";
        font-weight: 600;
        
    }

    a:hover {
        color: #fff;
        text-decoration: underline;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
    /* Search bar */

    .container-search {
        display: none;
    }

    
.container-searchmain {
        position: relative;
        background-color: transparent;
        width: 60vw;
        padding: 0.65em;
        margin: 0 auto;
        top: 4em; 
        left: 6rem;
}

.container-main {
     top: 5em !important;
}
 
 .search-bar {
     --size: 50px;
     border: 2px solid #039be5; 
     display: flex; 
     border-radius: 50px;
     height: var(--size);
     width: 4rem;
     padding: 3px;
     position: relative;
     transition: width 300ms cubic-bezier(.18, .89, .32, 1.1);
     overflow: hidden;
 }
 
 .search-bar__input {
     flex-grow: 1; 
     font-size: 1.2rem;
     padding: 0 0.5em;
     border: 0; 
     position: absolute;
     top: 0; 
     bottom: 0;
     left: 0; 
     line-height: calc(var(--size) - 3px);
     opacity: 0;
     cursor: pointer;
 }
 
 .fas {
     color: #2f3e46;
 }
 /*
 .search-bar:focus-within {
     width: 80%;
 }
 .search-bar:focus-within .search-bar__input {
     opacity: 1;
     cursor: initial;
     width: calc(100% - var(--size));
 }
 
 
 .search-bar:focus-within .search-bar__submit {
     background: #039be5;
     transition: background 150ms ease-in-out;
 }

 .search-bar:focus-within .fas {
     color: #fff;
 }
 
 .search-bar__input:focus {
     outline: none;
 }
 
 .search-bar__submit {
     font-size: 1.5rem;
     cursor: pointer;
     border: 0; 
     background-color: #fff;
     border-radius: 50%;
     width: calc(var(--size) - 10px);
     height: calc(var(--size) - 10px);
     margin-left: auto;
 }
 
 .search-bar__submit:focus, 
 .search-bar__submit:hover {
     outline: 0; 
     box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
 }
 */
 

    nav {
        all: unset;
        grid-column: 4 / 5;
        display: flex; 
        justify-content: flex-end;
        align-items: center;
        
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        
    }

    nav li {
        margin-left: 2.4em;
        margin-bottom: 0; 
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: ''; 
        display: block;
        height: 3px; 
        background-color: #2f3e46;
        position: absolute;
        top: 1.5em;
        left: 0; 
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 350ms; 
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
    /* Slider style starts here */

}


@media only screen and (max-width: 780px) {
    .logo {
        
        padding: 0.65em;
        float: left;
    } 

    .logo-title {
        display: none;
    }

}

/* Bootstrap carousel starts here */

/*
.carousel-item {
    height: 100vh;
}
*/
.col-md-6 {
    text-align: end;
}

.img-box {
    width: 550px;
    position: relative;

}

.pic-one {
    width: 100%
}

.pic-two {
    width: 100px;
    position: absolute;
    left: 15px; 
    bottom: 20px;
}

.pic-three {
    width: 75px;
    position: absolute;
    left: 150px; 
    bottom: 70px;
}

.pic-four {
    width: 160px;
    position: absolute;
    right: 40px; 
    top: 110px;
}

.pic-five {
    width: 110px;
    position: absolute;
    right: 20px; 
    bottom: 0;
}

.pic-six {
    width: 160px;
    position: absolute;
    right: 160px; 
    bottom: 35px;
}

.slide-one {
    background-color: #b0c6f5;
}

.carousel-item .row {
    margin: 10% 0;
}

.carousel-item h1 {
    margin-top: 40px;
    font-weight: 600;
    color: #fff;
    font-family: "Nunito", sans-serif;
}

.carousel-item p {
    margin-top: 30px 0 50px;
    font-weight: 400;
    color: #fff;
}

.carousel-item button {
    padding: 8px 20px; 
    background-image: linear-gradient(to right, #feb154, #ffd255);
    border: 0; 
    outline: none; 
    border-radius: 20px;
    color: #fff; 
    font-size: 1.5rem;
    font-weight: 700;
}

.slide-two {
    background-color: #f7f7f7;
}

.slide-two h1 {
    color: #039be5;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.slide-two p, 
.slide-three p {
    color: #2f3e46;
}

.slide-three h1 {
    color: #039be5
}

.img-one {
    width: 100%;
}

.img-two {
    width: 200px;
    position: absolute;
    left: 0; 
    bottom: 20px;
}

.img-three {
    width: 70px;
    position: absolute;
    left: 245px; 
    bottom: 55px;
}

.img-four {
    width: 60px;
    position: absolute;
    right: 155px; 
    bottom: 95px;
}

.img-five {
    width: 100px;
    position: absolute;
    right: 50px; 
    bottom: 20px;
}

.slide-two button {
    background-image: linear-gradient(to right, #feb154, #ffd255);
}

/* Test Section style starts here */

  .container {
    width: 85%;
    min-width: 360px;
    margin: 0 auto;
    padding-bottom: 0.875rem;
    position: relative;
    overflow: auto;
}
 
.container_text {
    margin: 1.5em 0;
    text-align: center;
    color: #2f3e46;
}

p {
    font-size: 1.5rem;
}

h5 {
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: .2rem;
   font-weight: 400;
   color: #039be5;
}

.container_content {
   margin: 0 auto;
   width: 85%;  
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   

   
 /*  border: 2px dotted gray; */
}

.box {
    border: 2px solid #eee;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 220px;
    border-radius: 8px; 
    flex-shrink: 2;
    
}

.box:hover {
   box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
   border: 1px solid transparent;
   border-top: 2px solid #039be5;
   top: -2px;
}

.box img  {
   margin: 0 auto;
   width: 50%;
   padding: 20px;
   padding-top: 25px;
}

h3 {
   color:  #3b3a3a;
   padding-top: 15px;
   font-family: "Nunito", sans-serif;
   font-size: 1.2rem;
   font-weight: 600;
}

.container_content a {
   background: none;
}


/* Slider style starts here */

.main-container {
    width: 700px;
    height: 700px;
    margin: 0 auto; 
    float: right;
    overflow: hidden;
    text-align: center; 
}

.image-container {
    width: 2100px;
    height: 700px;
    position: relative;
    transition: left 2s;
    animation: 20s slider infinite;
}

.slider-image {
    float: left; 
    margin: 0;
    padding: 0;
}

.button-container {
    top: -100px;
    position: relative;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: lightgrey;
    margin-left: 10px;
}

#slider-image-1:target~.image-container {
    left: 0px;
}

#slider-image-2:target~.image-container {
    left: -700px;
}

#slider-image-2:target~.image-container {
    left: -1400px;
}

/* Slider text starts here*/

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Footer section */
.footer {
    background-color: #2f3e46;
    width: 100%;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 50px;
    margin-top: 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    width: 33%;
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .icons {
    margin-top: 25px;
  }
  
  .footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  
  /* footer center*/
  
  .footer .footer-center {
    width: 30%;
  }
  
  .footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 1rem;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    font-size: 1rem;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer .footer-center p a {
    color: #039be5;
    text-decoration: none;
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 35%;
  }

  .footer .footer-right p {
    font-size: 1rem;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #0099ff;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #039be5;
  }
  
  .footer .name {
    color: #039be5;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  .netkg {
      float: right;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }
  }

  /* Style the search field */

form.example input[type=text] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #2f3e46;
    border-radius: 10px 0 0 10px;
    float: left;
    width: 80%;
    background: #ffffff;
}
  
/* Style the submit button */

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background-color: #2f3e46;
    color: white;
    font-size: 1rem;
    border: 1px solid #2f3e46;
    border-radius: 0 8px 8px 0;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #039be5;
}
  
/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}



.container-main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: 80%;
    
    margin: 0 auto;
    margin-bottom: 120px;
}

.item {
    display: flex;
    border: 2px solid gainsboro;
    border-radius: 8px;
    align-items: center;
    height: min(10vh, 300px);
    border-bottom: none;
    align-content: center;
    text-align: center;
}

.name h3 {
    font-size: 0.8rem;
    font-weight: 600;
}

.item img {
    height: 100%;
}

/* Animated search goes here */

.container-search {
   position: relative;
   background-color: transparent;
   width: 80vw;
   padding: 0.65em;
   margin: 0 auto;
}

.search-bar {
    --size: 50px;
    border: 2px solid #039be5; 
    display: flex; 
    border-radius: 50px;
    height: var(--size);
    width: var(--size);
    padding: 3px;
    position: relative;
    transition: width 300ms cubic-bezier(.18, .89, .32, 1.1);
    overflow: hidden;
}

.search-bar__input {
    flex-grow: 1; 
    font-size: 1.2rem;
    padding: 0 0.5em;
    border: 0; 
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    line-height: calc(var(--size) - 3px);
    opacity: 0;
    cursor: pointer;
}

.fas {
    color: #2f3e46;
}

.search-bar:focus-within {
    width: 80%;
}
.search-bar:focus-within .search-bar__input {
    opacity: 1;
    cursor: initial;
    width: calc(100% - var(--size));
}

.search-bar:focus-within .search-bar__submit {
    background: #039be5;
    transition: background 150ms ease-in-out;
}

.search-bar:focus-within .fas {
    color: #fff;
}

.search-bar__input:focus {
    outline: none;
}

.search-bar__submit {
    font-size: 1.5rem;
    cursor: pointer;
    border: 0; 
    background-color: #fff;
    border-radius: 50%;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    margin-left: auto;
}

.search-bar__submit:focus, 
.search-bar__submit:hover {
    outline: 0; 
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
}


/* Universities list */ 

.list-group-item {
    box-shadow: 0px 0px 60px -14px rgba(0,0,0,0.11) !important;
    font-family: "Roboto", sans-serif;
}

.media {
    display: flex; 
}

.media img {
    width: max(10vw, 150px);
    height: auto;
    align-self: center;
    flex-shrink: 1;
}

.media-body {
    flex-shrink: 3;
    display: flex;
    flex-direction: column;
    
}

.media-body p {
    font-size: 1rem;
}

.address {
    display: flex;
    justify-content: space-evenly;
}



/*TEST PAGE*/

main {
    width: 80%;
    margin: 0 auto;
    top: 80px !important; 
    position: relative;
}

.progres {
    width: 85%;
    margin: 10px auto;
    overflow: auto;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    float: left;
    width: 6.666%;
    position: relative; 
    text-align: center;
}

.progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px; 
    line-height: 30px;
    border: 2px solid #ddd;
    display: block;
    text-align: center;
    margin: 10px auto 10px auto;
    border-radius: 50%;
    background-color: #fff;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 25px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #039be5;
}

.progressbar li.active:before {
    border-color: #039be5;
}

.progressbar li.active + li:after {
    background-color: #039be5;
}

.quiz {
    width: 85%;
    margin: 0 auto;
    padding: 1rem 0;
    border: 0; 
    box-shadow: 0px 0px 60px -14px rgba(0,0,0,0.11);
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
}

.question {
    margin: 0 0 0 15px;
}

.question h4  {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    line-height: 1.5em;
}

.option {
    border: 1px solid #eee;
    height: auto;
    margin: 0 auto; 
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
    position: relative;
}

.option_element {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border: 1px solid #888e94;
   border-radius: 100%;
   width: 30px;
   height: 30px;
   text-align: center;
   margin-left: 0.325em;
   opacity: 70%;
}

h2 {
    color: #888e94;
    font-size: 1.25rem;
}

.option p {     
    margin-top: 12px;
    color: black;
    display: inline-block;
    position: relative;
    left: 70px;
    margin: 0 auto;
    width: 85%;
    font-size: 1.2rem;
}

.answer a {
    cursor: pointer;
}

.quiz > .answer .option:active {
   box-shadow: 36px 39px 11px -38px rgba(0,0,0,0.11);
   background-color: #82cf98;
   text-decoration: none;
   color: black;
}

.answer .option.active {
   box-shadow: 36px 39px 11px -38px rgba(0,0,0,0.11);
   background-color: #82cf98;
   transition: .01s;
   text-decoration: none;
   color: black;
}

.answer .option.incorrect {
   box-shadow: 36px 39px 11px -38px rgba(0,0,0,0.11);
   background-color: #ff4444;
   transition: .01s;
   text-decoration: none;
   color: black;
}

a .option:visited {
   text-decoration: none;
   color: black;
}
 
.next {
   width: 80%;
   margin: 0 auto;
   margin-bottom: 70px;
   height: 80px;
   margin-top: 30px;
}

.skip {
   width: 25%;
   float: left;
   position: relative;
   display: none;
}

.skip h2 {
   font-size: 1.25rem;
   text-decoration: underline;
   padding-top: 0.4rem;
}

.cont {
    padding: 8px 20px; 
    background-color:  #ffd255;
    border: 0; 
    outline: none; 
    border-radius: 20px;
    color: #fff !important; 
    font-size: 1.5rem;
    font-weight: 700; 
    width: fit-content;
    float: right;
}

.cont h2 {
    color: #fff;
    text-decoration: none;
    
}


.continue.active {
   background-color: #1b9bff;
   border: 2px solid #1b9bff;
}


@media only screen and (max-width: 480px) {

    header { 
        top: 0; 
    }

   main {
       width: 100%;
   }

   .option {
       width: 100%;
       margin-left: 0px;
       overflow: auto;
   }

   .option p {
       font-size: 1.08rem;
       padding-left: 0px;
       left: 45px; 
   }
   
   .progressbar li::before {
       width: 15px;
       height: 15px;
       font-size: 0.625rem;
       line-height: 10px;
   }

   .progressbar li:after {
       position: absolute;
       width: 100%;
       height: 1px;
       background-color: #ddd;
       top: 20px;
       left: -50%;   
   }

   .continue h2 {
       font-size: 1rem;
   }

   .skip h2 {
       font-size: 1rem;
   }
}

/* RESULTS */

.screen {
    width: 90%;
    margin: 20px auto;
    
}
.results {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 7px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0px 0px 60px -14px rgba(0,0,0,0.11);
    margin-bottom: 200px;
}

.results h5 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #039be5;
}

.summary {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #dedee0; /*#e1e5ef*/;
    border-radius: 7px;
    text-align: center;
}


.results_summ {
    width: 90%;
    margin: 20px auto;
    height: auto;
}

.results_summ a:hover {
    cursor: pointer;
    background-color: transparent;
}   

.results_summ ul li {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;      
    position: relative;
    text-align: center;
    padding-top: 0.625rem;
    font-weight: 700;
    color: #fff;
}

.results_summ .false li {
    border: 1px solid #ff4444;
    background-color: #ff4444;
}


.results_summ .true li {
    border: 1px solid #82cf98;
    background-color: #82cf98;
}

.finish {
    padding: 8px 20px; 
    background-color:  #039be5;
    border: 0; 
    outline: none; 
    border-radius: 20px;
    color: #fff !important; 
    font-size: 1.5rem;
    font-weight: 700; 
    width: fit-content;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    
}   

.finish h2 {
    color: #fff;
    font-size: 1rem;
}

.finish:hover {
    background-color: #1b9bff;
    transition: .5s;
}

/* MODAL WINDOW */

.modal_wrapper{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}


.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal:target {
    display: table; 
}

.modal_dialog {
    margin: 30px auto;
}

.modal_content {
    background-color: #fff;
    border-radius: 7px;
    position: relative;
    width: 60%;
    min-width: 300px;
    margin: auto;
}

.modal_header {
    background-color: #039be5;
    border-radius: 7px 7px 0 0;
    color: #fff;
    padding: 1rem;
}

.modal_title {
    margin: 0;
    color: #fff;
}

.modal_close {
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0.45rem;
    right: 1rem;
    font-size: 26px;
}   

.modal_container {
    margin: 1rem auto; 
    display: block;
    padding: 0 1rem;
}
    

.modal_container h5 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
    color: #039be5;
}

.modal_container p {
    font-size: 1.05rem;
    font-family: sans-serif;
}

.false .option_element {
    border: 2px solid #ff4444;
}

/* COOKIE POP-UP */
.cookie-banner {
    position: fixed;
    bottom: 0px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 15px 14px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #1b9bff;
    color: #fff;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #1b9bff;
}

.close {
    height: 20px;
    padding: 5px;
    background-color: #1b9bff;
    color: #fff;
    border: none;      
    border-radius: 2px;
    cursor: pointer;
}

.cookie-banner p {
    font-size: 1rem;
}

.learn {
    color: #333;
    font-weight: bold;
    margin-left: 10px;
}

.learn:hover {
    color: #000;
}

    /* .modal_container .option:hover {
        box-shadow: none;
        top: 2px;
        cursor: auto;  
     }

    .modal_container .option:active {
            box-shadow: none;
            border: 1px solid transparent;
            top: 2px;
            text-decoration: none;
            color: black;
    }
    */